@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Overall Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --primary-text-color: #fff9db;
    --secondary-text-color: #000;
    --primary-color: rgba(130, 130, 130, 0.4);
    --secondary-color: rgba(139, 0, 0, 0.3);
    --chatbox-color: rgba(255, 255, 255, 0.7);
    --border-color: #a9a9a9;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    background-attachment: fixed;
    margin: 1% 5%;
    padding: 2%;
    height: 100vh;
    cursor: default;
}

section {
    margin: 1%;
    width: 100%;
    max-width: 960px;
    margin-inline: auto;
}

.hidden {
    display: none !important;
    

}

img {
    display: block;
    max-inline-size: 100%;
}

/* Flex Area */

main, 
header, 
.displayWorkout, 
.chats-section, 
.listContainer, 
.fitness-level, 
.bodyPartsList, 
.workout-results-container, 
.chatsContainer,
 .container, 
.userMessageBox, 
.displayDemo,
 .demoFormContainer, 
 .demoResults {
    display: flex;
}



/* HEADER */

header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px;
    margin: 0 0 5rem;
    
}

.title-container {
    color: var(--primary-text-color);
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
}

.title-container h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.title-container p {
    text-align: center;
    font-weight: 700;
    color: var(--primary-text-color)
}


/* Main */
main {
    flex-wrap:wrap;
    gap: 2rem;
}


/* Display Workout */

.listContainer {
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 500px;
    cursor: pointer;
}

.fitness-level, label {
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.bodyPartsList {
    justify-content: space-evenly;
    list-style: none;
    border: 1px solid;
    background-color: var(--secondary-color);
    border-radius: 5px;
    flex-shrink: 1;
    padding: 10px;
    gap: 10px;
}

.list {
    color: var(--primary-text-color);
    font-weight: 700;
    border-radius: 25px;
}

.list:hover {
    transform: scale(1.2);
    transition: transform 0.3 ease;
}

.displayWorkout {
    background-color: var(--primary-color);
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 30px;
    flex: 1;
}

.sub-title-container {
    text-align: center;
    
}
.sub-title-container h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.sub-title-container p {
font-size: 1.5rem;
    color: #8b0000;
}

.workout-results-container {
    width: 100%;
    max-width: 500px;
    justify-content: center;
}
.workout-results-container ul {
    line-height: 40px;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 600;
    justify-content: center;
    flex-shrink: 1;
    flex-wrap:wrap;

}

/* Display Workout Demo */

.displayDemo {
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    
}
.demoFormContainer {
    padding: 2px;
    border-radius: 10px;
    width: 200px;
    background-color: var(--chatbox-color);
    border: 1px solid var(--border-color);
    justify-content: center;
    margin-bottom: 20px;
}
.demoInput {
    width: 80%;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: var(--secondary-text-color);
}

.demoInput::placeholder {
    color: var(--secondary-text-color);
}
.demoInput:focus {
    outline: none;
}

.demoBtn {
    color: var(--secondary-text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.demoResults {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.demoResults li {
    list-style: none;
}

.demoResults p {
    text-align: center;
}


/* Chats Container */

.chats-section {
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    row-gap: 15px;
}

.chats-section h2 {
    background-color: var(--secondary-color);
    padding: 10px 20px;
    color: var(--primary-text-color);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.chats-section h2:hover {
    transform: scale(1.1);
    transition: transform 0.3 ease;
}

.chatsContainer {
    width: 100%;
    height: 400px;
    background-color: var(--primary-color);
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 10px 10px;
    border-radius: 15px;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin: 0;
}

.chatsContainer::-webkit-scrollbar {
    display: none;
}

.container {
    flex-direction: column;
    row-gap: 5px;
}

.message {
    background-color: var(--chatbox-color);
    color: var(--secondary-text-color);
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 300px;
    text-align: justify;
    word-wrap: break-word;
    white-space: pre-line;
}
.botChatBubble {
    align-self: flex-start;
    
}
.bot {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}
.userChatBubble {
    align-self: flex-end;
}

.userMessageBox {
    align-self: center;
    padding: 10px;
    border-radius: 50px;
    max-width: 400px;
    background-color: var(--chatbox-color);

}
.userMessageBox input {
    width: 90%;
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

.userMessageBox input:focus {
    border: none;
    outline: none;
}

.userInput::placeholder {
    color: var(--secondary-text-color);
}

.sendBtn {
    color: var(--secondary-text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footer-credits {
    text-align: center;
    margin: 2rem;
}

